<div class="grid grid-cols-1 place-items-center gap-0"> <!-- Add this when u want the normal one w-[50svw] -->
 
    <p-carousel
      [value]="hobby"
      [numVisible]="3"
      [numScroll]="3"
      [circular]="true"
      class="w-11/12"
    >
      <ng-template let-hobby pTemplate="item" class="bg-red-700">
        
        <div class="h-full">
          
          <div class="h-full flex justify-center">
              
              <img
                [src]="hobby.image"
                [alt]="hobby.name"
                class="w-11/12"
              />
              <!-- <span class="h-96">{{group.name}}</span> -->
          </div>
         
        </div>
        
      </ng-template>
    </p-carousel>
    
  </div>
  