<div class="w-100% h-fit p-5 text-center bg-teal-400">
    <h1 class="py-10 text-2xl titillium-web-bold">My hobbies are !</h1>
    <div class="flex items-center justify-around">

        <span class="text-lg">Reading light novels
            <img class="h-96 " src="assets/tbate.jpg"/>

        </span>

        <span class="text-lg">Playing video games
            <img class="h-96 " src="assets/tbate.jpg"/>
        </span>


        <span class="text-lg">Playing VoleyBall

            <img class="h-96 " src="assets/tbate.jpg"/>
        </span>
    </div>

</div>