<div class="w-100% h-fit text-center bg-teal-400">
    <h1 class="py-10 text-2xl titillium-web-bold bg-4361EE">My hobbies are!</h1>
    <div class="grid grid-cols-[2fr_1fr] gap-4">
      <images-slider class="w-full"></images-slider>
  
      <div class="text-white overflow-hidden">
        <h1 class="titillium-web-light text-3xl my-10 font-bold">
          Reading Light Novels And Manhuas
        </h1>
        <p class="text-justify text-2xl pr-10 line-clamp-10 hover:text-clip">
          I enjoy reading light novels, such as The Beginning After the End and
          Lord of the Mysteries, as well as exploring manhuas, which combine
          engaging storytelling with striking artwork. Light novels, a popular
          form of Japanese literature, are known for their fast-paced narratives,
          immersive world-building, and anime-style illustrations, often appealing
          to young adult readers. These hobbies have cultivated my appreciation
          for creative storytelling, diverse cultural perspectives, and visual
          artistry, inspiring my imagination and enhancing my analytical thinking.
        </p>
        <a
          href="https://www.lightnovelworld.co"
          target="_blank"
          class="text-2xl mt-5 border-b-2 bg-black block"
          >Learn more</a
        >
      </div>
  
      <span class="text-lg">
        Playing video games
        <img class="h-96" src="assets/tbate.jpg" />
      </span>
  
      <span class="text-lg">
        Playing Volleyball
        <img class="h-96" src="assets/tbate.jpg" />
      </span>
    </div>
  </div>
  