<ul class="flex justify-around items-center w-100% h-20 bg-4CC9F0 text-white">

    <li><a class="hover:cursor-pointer" (click)="navigateTo('Biographie')">About Me</a> 
    </li>

    <li><a class="hover:cursor-pointer" (click)="navigateTo('Milestones')">Milestones</a> 
    </li>


    <li><a class="hover:cursor-pointer" (click)="navigateTo('Projects')"> Projects </a>
    </li>

    <li><a class="hover:cursor-pointer" (click)="navigateTo('Hobbies')">Hobbies</a>
    </li>

    <li>Socials
    </li>

    <li>Languages
    </li>

    <li>
        <language-toggle></language-toggle>
    </li>
</ul>
