<!-- <ul class="flex justify-around items-center w-100% h-20 bg-[#AD3BFF] text-white">

    <li><a class="hover:cursor-pointer" (click)="navigateTo('Biographie')">About Me</a> 
    </li>

    <li><a class="hover:cursor-pointer" (click)="navigateTo('Milestones')">Milestones</a> 
    </li>

    <li><a class="hover:cursor-pointer" (click)="navigateTo('Experience')">Experience</a>

    <li><a class="hover:cursor-pointer" (click)="navigateTo('Projects')"> Projects </a>
    </li>

    <li><a class="hover:cursor-pointer" (click)="navigateTo('hobbies')">Hobbies</a>
    </li>

    <li>Socials
    </li>

    <li>Languages
    </li>

    <li>
        <language-toggle></language-toggle>
    </li>
</ul> -->
<!-- layout.component.html -->
<div id="bio" class="grid grid-cols-2 h-fit items-center font-poppins-regular bg-[#1f1f1f]">
    <ul
      class="col-span-2 flex justify-around items-center w-100% h-20 text-white text-2xl"
    >
      <li>
        <a class="hover:cursor-pointer">
          About Me
        </a>
      </li>
      <li>
        <a class="hover:cursor-pointer">
          Milestones
        </a>
      </li>
      <li>
        <a class="hover:cursor-pointer">
          Experience
        </a>
      </li>
      <li>
        <a class="hover:cursor-pointer">
          Projects
        </a>
      </li>
      <!-- <li>
        <a class="hover:cursor-pointer" (click)="navigateTo('hobbies')">
          Hobbies
        </a>
      </li> -->
      <li>
        <a class="hover:cursor-pointer">
          Socials
        </a>
      </li>
      <li>Languages</li>
    </ul>

  </div>
  