<h1 class="text-4xl text-center p-10 text-6DAAF2 bg-[#1f1f1f] font-poppins-regular">
    My Professional Experience
  </h1>
  
  <section class="design-section">
    <div class="timeline">
      <div class="timeline-empty text-right mr-5">
        {{ displayedMilestones[0].year }}
      </div>
  
      <div class="timeline-middle">
        <div class="timeline-circle"></div>
      </div>
      <div class="timeline-component timeline-content">
        <h4>{{ displayedMilestones[0].year }}</h4>
        <h3>{{ displayedMilestones[0].title }}</h3>
       
        <p>{{ displayedMilestones[0].description }}</p>
      </div>
      <div class="timeline-component timeline-content">
        <h4>{{ displayedMilestones[1].year }}</h4>
        <h3>{{ displayedMilestones[1].title }}</h3>
       
        <p>{{ displayedMilestones[1].description }}</p>
      </div>
      <div class="timeline-middle">
        <div class="timeline-circle"></div>
      </div>
  
      <div class="timeline-empty ml-5">
        {{ displayedMilestones[1].year }}
      </div>
  
      <div class="timeline-empty text-right mr-5">
        {{ displayedMilestones[2].year }}
      </div>
  
      <div class="timeline-middle">
        <div class="timeline-circle"></div>
      </div>
      <div class="timeline-component timeline-content">
        <h4>{{ displayedMilestones[2].year }}</h4>
        <h3>{{ displayedMilestones[2].title }}</h3>
      
        <p>{{ displayedMilestones[2].description }}</p>
      </div>
      
  
    
      
  
      
  

    </div>
  </section>
  