#bio{
  overflow-wrap: break-word !important;
  background-image: url(https://bepatrickdavid.com/images/herobg-hd.jpg);
}


body{
  caret-color: transparent !important;
}
.blink {
  animation: blink 0.5s infinite;
}
@keyframes blink{
  to { opacity: .0; }
}

.header-sub-title {

 
  padding: 0.1em;
}

.cursor {
  display: inline-block;
  width: 1px;
  background-color: black;
  animation: blink 0.7s steps(2, start) infinite;
}

@media screen and (max-width: 990px) {
  #bio{
    justify-content: start;
  }
  #disappear {
    opacity: 0; /* Fade out the image */
    visibility: hidden; /* Ensures it won't take up space */
    transition: opacity 0.3s, visibility 0.3s; /* Smooth transition for fading and hiding */
  }

  #shift-left {
    width: 100vw; /* Make the text container take the full width of the screen */
    transform: translateX(-100px);
    transition: width 0.3s; /* Smooth transition for the width change */
  }
}



.titillium-web-extralight {
  font-family: "Titillium Web", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.titillium-web-light {
  font-family: "Titillium Web", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.titillium-web-regular {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.titillium-web-semibold {
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.titillium-web-bold {
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.titillium-web-black {
  font-family: "Titillium Web", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.titillium-web-extralight-italic {
  font-family: "Titillium Web", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.titillium-web-light-italic {
  font-family: "Titillium Web", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.titillium-web-regular-italic {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.titillium-web-semibold-italic {
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-style: italic;
}
