#bio{
  
  background-image: url(https://bepatrickdavid.com/images/herobg-hd.jpg);
 
}

@media (width<1110px){
  #bio {
    overflow-wrap: break-word !important;
    background-image: url(https://bepatrickdavid.com/images/herobg-hd.jpg);
    background-size: cover; /* Ensures the image covers the container */
    background-position: center; /* Keeps the focal point centered */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    min-height: 100vh; /* Optional: Ensures the section is at least the height of the viewport */
  }
  
}


.navbar-scrolled{
  background-color: #1f1f1f;

}

html, body {
	background-color: #000;
}
h2, a, p {
	color: #fff;
	text-decoration: none;
}
p>a {
	color: #fd084a;
}
.blink {
  animation: blink 0.5s infinite;
}
@keyframes blink{
  to { opacity: .0; }
}
.flex {
	display: flex;
}
.header-sub-title {
  color: #fff;
  padding: 0.1em;
}

/* @media screen and (max-width: 990px) {
  #bio{
    justify-content: start;
  }
  #disappear {
    opacity: 0; 
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s; 
  }

  #shift-left {
    width: 100vw; 
    transform: translateX(-100px);
    transition: width 0.3s; 
  }
} */

