

<div id="bio" class="flex justify-around w-100% bg-[#1f1f1f] h-fit py-10">
    
    <div id="disappear" class="flex justify-center hover:[transform:rotateY(180deg)] duration-100 w-1/4  ">
        <hovered-image></hovered-image>

    </div>
        
    <div id="shift-left" class="flex flex-col justify-center w-3/4 items-center text-white">
        <span class="titillium-web-semibold-italic h-fit p-3">
            {{ displayedBio.intro }}
        </span>

        <span class="titillium-web-bold h-fit p-3">
            {{ displayedBio.specialization }}
        </span>

        <span class="titillium-web-bold h-fit p-3">
            {{ displayedBio.degree }}
        </span>
    </div>

  

</div>
