<h1 class="bg-[#1f1f1f] text-[#6DAAF2] text-4xl text-center p-5 ">Contact Me !</h1>
<div class="w-full bg-[#1f1f1f] pb-20 relative">
    <form
  class="contact-form w-full text-white flex flex-col  justify-center items-center p-5"
  (submit)="sendEmail($event)"
>
  <div class="form-group">
    <label for="user_name">Name</label>
    <input type="text" id="user_name" name="user_name" class="input-field" placeholder="Mohamed" required/>
  </div>
  
  <div class="form-group">
    <label for="user_email">Email</label>
    <input type="email" pattern=".+@.+\..+" id="user_email" name="user_email" class="input-field" placeholder="mohamed@test.com" required/>
  </div>

  <div class="form-group">
    <label for="message">Message</label>
    <textarea id="message" name="message" class="input-field textarea-field" placeholder="Your Message Here!"  required></textarea>
  </div>

  <input type="submit" value="Send" class="submit-button" />
</form>


<div id="alert">
    <span id ="email">Attempting to Send Email ...</span>
    <svg id="close" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
      <path d="M 7.71875 6.28125 L 6.28125 7.71875 L 23.5625 25 L 6.28125 42.28125 L 7.71875 43.71875 L 25 26.4375 L 42.28125 43.71875 L 43.71875 42.28125 L 26.4375 25 L 43.71875 7.71875 L 42.28125 6.28125 L 25 23.5625 Z"></path>
    </svg>
    
</div>

</div>
