#bio {
  background-image: url(https://bepatrickdavid.com/images/herobg-hd.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

.hamburger {
  display: none;
}

@media (max-width: 860px) {
  #nav-bar {
    flex-direction: column;
    background-color: #1f1f1f;
    height: fit-content;
    padding: 20px;
  }
  
  .hamburger {
    display: block;
    position: absolute;
    background-color: transparent;
  }
  
  #nav-bar li {
    text-align: start;
  }
}

@media (max-width: 768px) {
  #bio {
    background-size: cover;
    flex-direction: column;
    place-items: center;
    gap: 0;
  }
  
  .first-div {
    padding-left: 20px;
    padding-top: 30%;
    width: 100%;
  }

  .first-div * {
    font-size: 2rem;
  }

  .second-div {
    padding-right: 20px;
    margin-top: 60px;
  }
}

.navbar-scrolled {
  background-color: #1f1f1f;
}

.blink {
  animation: blink 0.5s infinite;
}

@keyframes blink {
  to { opacity: 0; }
}

.nav-item {
  display: block;
}

.hidden {
  display: none;
}

.bg-none {
  background-color: transparent !important;
}
