#changing{


    height: 310px;
    position: absolute;
    top:30.5%;
    left: 49.5%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

#project-name{
    font-family: "kanit", sans-serif;
    -webkit-text-stroke: 1px white;
    cursor: pointer;
    padding: 5px;
}