<div class="grid grid-cols-1 place-items-center gap-0">
  <!-- Add this when u want the normal one w-[50svw] -->

  <p-carousel
    [value]="hobby"
    [numVisible]="numVisible"
    [numScroll]="3"
    [circular]="true"
    class="w-11/12"
  >
    <ng-template let-hobby pTemplate="item">
      <div class="h-full">
        <div class="h-full flex justify-center object-contain">
          <img [src]="hobby.image" [alt]="hobby.name" class="w-11/12" />
          <!-- <span class="h-96">{{group.name}}</span> -->
        </div>
      </div>
    </ng-template>
  </p-carousel>
</div>
