.big-container{
    min-height: 80svh;
    height: fit-content;
}

@media screen and (width<768px){
    .big-container{
        flex-direction: column;
    }
    .big-container p{
        margin: 0;
        width: 100%;
        text-align: initial;
    }
    .big-container div{
        margin: 0;
        width: 100%;
    }
    .skills-description{
        font-size: 1.3rem;
    }
}