<h1 class="text-4xl  bg-[#1f1f1f] text-center p-10 text-[#6DAAF2]">{{Skills?.bigTitle}}</h1>
<div class="bg-[#1f1f1f] flex flex-row text-white place-items-center big-container pb-20">
     
    <p class="w-1/2 p-10 ml-32 text-justify text-2xl h-full skills-description">{{Skills?.description}}</p>

    <div class="w-1/3 flex flex-row place-items-center p-5 flex-wrap ">
        <img src="../../assets/angular.svg" class="w-16 h-16 m-2"  />
        <img src="../../assets/react.svg" class="w-16 h-16 m-2"/>
        <img src="../../assets/js.svg" class="w-16 h-16 m-2"  />
        <img src="../../assets/typescript.svg" class="w-16 h-16 m-2 rounded-md "  />
        <img src="../../assets/nodejs.svg" class="w-16 h-16 m-2  bg-white rounded-md p-1"  />
        <img src="../../assets/express.svg" class="w-16 h-16 m-2 bg-white rounded-md p-2"  />
      
        <img src="../../assets/java.svg" class="w-16 h-16 m-2 rounded-md "  />
        <img src="../../assets/spring.svg" class="w-16 h-16 m-2  rounded-md p-0"  />
        <img src="../../assets/aws.svg" class="w-16 h-16 m-2 bg-white rounded-md p-1"  />
        <img src="../../assets/tensorflow.svg" class="w-16 h-16 m-2  "  />
        <img src="../../assets/mongo.svg" class="w-16 h-16 m-2 bg-white rounded-md p-1"  />
        <img src="../../assets/mysql.svg" class="w-16 h-16 m-2 bg-white rounded-md p-0"  />
        <img src="../../assets/docker.svg" class="w-16 h-16 m-2  rounded-md p-0"  />
        <img src="../../assets/python.svg" class="w-16 h-16 m-2  "  />
      
        <img src="../../assets/django.svg" class="w-16 h-16 m-2  rounded-md p-0"  />
       
       
      
        <img src="../../assets/flutter.svg" class="w-16 h-16 m-2  "  />
        <img src="../../assets/firebase.svg" class="w-16 h-16 m-2  rounded-md p-0"  />

        <img src="../../assets/tailwind.svg" class="w-16 h-16 m-2 rounded-md "  />
    </div>

</div>