<h1 class="bg-[#1f1f1f] text-6DAAF2 text-4xl text-center p-5">Contact Me on My Socials :</h1>
<div class="w-100% h-fit grid grid-cols-2 gap-y-3 p-5 place-items-center bg-[#1f1f1f] text-white">
  

    <img class="h-16 w-16 mx-5 justify-self-end" src="../../assets/linkedin.png" alt="Linkedin" />
    <a class="justify-self-start" href="https://www.linkedin.com/in/dia-aberane/"> dia-aberane</a> 
  
 
    <img class="h-16 w-16 bg-white rounded-full mx-5 justify-self-end" src="../../assets/github.png" alt="Github" /> 
        <a class="justify-self-start" href="https://github.com/diaeddine1" target="_blank"> diaeddine1 </a>

 
    <img class="h-14 w-14 mx-5 justify-self-end" src="../../assets/gmail.png" alt="Mail" />
    <a class="justify-self-start hover:cursor-pointer" href="mailto:aberane.dia@gmail.com"
      >aberane.dia&#64;gmail.com</a
    >

</div>
